@model HuskyRescueCore.Models.AdopterViewModels.Admin.AdoptionIndexViewModel

<h2>Adoption Applications</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Adopt" asp-action="Index" method="get">
    <p>
        <select asp-for="appStatus" asp-items="Model.appStatuses">
            <option value="">All</option>
        </select>
        First Name: <input type="text" name="appFirstName" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].Status.StatusTypeText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].AppNameFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].AppSpouseNameFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].AppAddressFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].AppCellPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].AppHomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].AppEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apps[0].DateSubmitted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.apps) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusTypeText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppNameFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppSpouseNameFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppAddressFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppCellPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppHomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> | 
                <a asp-action="GeneratePdf" asp-route-id="@item.Id" target="_blank">PDF</a>
            </td>
        </tr>
}
    </tbody>
</table>
